
{% load staticfiles %}
<div class="navbar-fixed">
  
 <nav class="purple darken-4 navopac ">
    <div class="nav-wrapper">
        <div class="container">
      <a href="{%url 'index'%}" class="brand-logo center"><img class="logo" src="{%static "/img/logo.png" %}" alt=""></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{% url 'front'%}">HOME</a></li>
       
        {% if 'about' in request.path%}
        <li class="active"><a href="{%url 'about'%}">ABOUT</a></li>
        {%else%}
        <li><a href="{%url 'about'%}">ABOUT</a></li>
        {% endif%}

        <li><a href="{% url 'listings' %}">FEATURED LISTINGS</a></li>
      </ul>
      
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">LOGOUT</a></li>
          {% else %}
            <li><a href="{% url 'register' %}">REGISTER</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            {% endif%}
            
      </ul>
    </div>
    </div>
  
</div>
    <ul class="sidenav" id="mobile-demo">
            <li><a href="{% url 'index'%}">HOME</a></li>
            <li><a href="{%url 'about'%}">ABOUT</a></li>
            <li><a href="{% url 'listings' %}">FEATURED LISTINGS</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
            <li><a href="{% url 'register' %}">REGISTER</a></li>
    
    </ul>
</nav>



